<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/auth.css" />
</head>

<body>
    <h2>Change Password</h2>

    <% if (error) { %>
        <p style="color:red;">
            <%= error %>
        </p>
        <% } %>
            <% if (success) { %>
                <p style="color:green;">
                    <%= success %>
                </p>
                <% } %>

                    <form method="POST" action="/admin/change-password">
                        <input type="password" name="oldPassword" placeholder="Old Password" required>
                        <input type="password" name="newPassword" placeholder="New Password" required>
                        <input type="password" name="confirmPassword" placeholder="Confirm New Password" required>
                        <button type="submit">Change Password</button>
                    </form>
</body>

</html>