<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/auth.css" />
</head>

<body>
    <h2>Forgot Password</h2>
    <% if (message) { %>
        <p>
            <%= message %>
        </p>
        <% } %>

            <form method="POST" action="/admin/forgot-password">
                <input type="email" name="email" placeholder="Your Email" required>
                <button type="submit">Send Reset Link</button>
            </form>

</body>

</html>