
  <div class="container-scroller">
    <style>
      a.logo.d-flex.align-items-center {
        text-decoration: none;
      }

      span {
        font-size: 20px;
      }
    </style>
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <img src="/img/ChatGPT_Image_May_23__2025__08_44_39_PM-removebg-preview.png" alt="logo-1" width="20%">
        <span class="d-none d-lg-block"><span style="color:#16ff25;">SVG</span> <br />SERVICE<br /><span
            style="color:#ff6416;">CENTER</span></span>
      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">
              <div class="count-indicator">
                <img class="img-xs rounded-circle " src="/img/9815472.png" width="50px" alt="">
                <span class="count bg-success"></span>
              </div>
              <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">
                  <%= user.username %>
                </h5>
                <span>User</span>
              </div>
            </div>

            <a href="#" id="profile-dropdown" data-toggle="dropdown">▼</a>
            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="/dashboard/account/settings/" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <span>⚙️</span>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="/User/password-change/" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <span>🔒</span>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/User/dashboard">

            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">

            <span class="menu-title">Manage Customer</span>
            <span>▼</span>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/customers/useraddcustomer">Add
                  Customer</a></li>
              <li class="nav-item"> <a class="nav-link" href="/customers/usercustomers">View
                  Customer</a></li>

            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-servi" aria-expanded="false" aria-controls="ui-servi">

            <span class="menu-title">Manage Billing</span>
            <span>▼</span>
          </a>
          <div class="collapse" id="ui-servi">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/billing/useradddocument">Add
                  Billing</a></li>
              <li class="nav-item"> <a class="nav-link" href="/billing/viewuserbillings">View
                  Billing</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/User/myservicepage">show my service
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="/User/income">show my income
          </a>
        </li>

      </ul>


    </nav>

