<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card p-4 shadow" style="width: 400px;">

            <form action="/User/reset-password/<%= token %>" method="POST">
                <div class="mb-3">
                    <input type="password" name="password" placeholder="New Password" required />
                </div>
                <div class="mb-3">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
                </div>
                <div class="d-grid">
                    <button type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>