
    <%- include("./dashboard") %>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>viewservice</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% data.map((v,i)=>{ %>
                    <tr>
                        <td>
                            <%=i%>
                        </td>
                        <td>
                            <%=v.servicename%>
                        </td>
                        <td>
                            <%=v.newprice%>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
